on: push
permissions:
  pages: write
  id-token: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v4

# Build the WASMs and check everything is working.

      - uses: denoland/setup-deno@v2
      - run: deno task test

# Create the web root directory.

      - run: mkdir _site
      - run: cp -R site/* _site

# Deploy the libs.

      - run: cp -R lib _site/lib
      - run: cp -R vm/js _site/js
      - run: mkdir _site/wasm
      - run: cp vm/wasm/*.wasm _site/wasm/

# Deploy uCode tools.

      - run: mkdir _site/ucode
      - run: cp fpga/fomu/cpu/ucode.js _site/ucode/
      - run: cp fpga/fomu/cpu/ucode_sim.js _site/ucode/
      - run: cp fpga/fomu/cpu/ucode_dbg.* _site/ucode/

# Deploy the apps.

      - run: cp -R apps/debugger _site/debugger
      - run: cp -R apps/playground _site/playground
      - run: deno run -A apps/playground/optimize.js _site/playground/index.html
      - uses: actions/upload-pages-artifact@v3
      - uses: actions/deploy-pages@v4
